:host {
  width: 100%;
  padding: 8px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: monospace;
  position: relative;

  button {
    border: none;
    opacity: 0.9;
    background-color: transparent;
    padding: 5px 20px;
    &:hover{
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 25px;
    }
  }
  .date {
  }
  .jump-today{
    position: absolute;
    right: 3px;
    font-weight: bold;
    &:hover{
      color: gold;
    }
  }
}
