:host{
    // width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 1px;
  font-family: monospace;

}
.cal-day{
  opacity: .6;
}
.days-of-week{
  width: 100%;
  display: flex;
  gap: 2px;

  .day{
    text-align: center;
    flex: 1 13%;
  }
}
.padding{
  background-color: rgba(128, 128, 128, 0.26);
}

