<input type="date" [ngModel]="date" />
<input type="number" [(ngModel)]="amount" />
<button (click)="addTransactionWithDate()">Click to Add Transaction</button>
<button (click)="addRecurringTransaction()">
  Click to Add Recurring Weekly Transaction
</button>
<div class="upcoming"></div>
<div class="recurring"></div>

<div class="month">

  <div class="day">
    <button (click)="changeDate('past')">-</button> {{ month }}/{{year}}
    <button (click)="changeDate('future')">+</button>
  </div>
</div>

<div class="calendar">
  <div
    *ngFor="let d of currentMonth;"
    (click)="getProjected(d)"
    class="day-block"
    [ngStyle]="{color: projDay === d ? 'white': d === today.getDate() ? 'lightgray': 'black' }"
    [title]="d === 1 && monthStartDay"
    >
    {{ d }}
    <div
      *ngFor="let t of getDaysTransactions(year, month, d)"
      class="transaction-small"
    >
      {{ t }}
    </div>
    <div class="balance" *ngIf="d=== projDay">
      {{ projectedBalance }}
    </div>
  </div>
</div>
