<input type="date" [ngModel]="date" />
<input type="number" [(ngModel)]="amount" />
<button (click)="addTransactionWithDate()">Click to Add Transaction</button>
<button (click)="addRecurringTransaction()">
  Click to Add Recurring Weekly Transaction
</button>
<div class="upcoming"></div>
<div class="recurring"></div>

<div class="month">

  <div class="day">
    <button (click)="changeDate('past')">-</button> {{ month }}/{{ day }}/{{year}}
    <button (click)="changeDate('future')">+</button>
  </div>
</div>

<div class="calendar">
  <div
    *ngFor="let d of getDaysInMonth(); let i = index;"
    (click)="getProjected(i)"
    class="day-block"
    [ngStyle]="{color: projDay === i + 1 ? 'white': (i + 1) === today.getDate() ? 'lightgray': 'black' }"
  >
    {{ i + 1 }}
    <div
      *ngFor="let t of getDaysTransactions(year, month, i + 1 )"
      class="transaction-small"
    >
      {{ t }}
    </div>
    <div class="balance" *ngIf="i + 1 === projDay">
      {{ projectedBalance }}
    </div>
  </div>
</div>
