:host {
  background-color: rgb(220, 255, 223);
  height: 100%;
  display: grid;
  grid-template: 
  "month"
  "calendar"
  "header"

  ;
  place-content: center;
}
.enter-transaction{
  grid-area: header;
  display: grid;
  // grid-template-columns: repeat(2,auto);
}
.month{
  grid-area: month;
  display: flex;
  justify-self: center;
}
.calendar {
  grid-area: calendar;
  display: grid;
  grid-template-columns: repeat(7, 30px);
  height: fit-content;
  width: fit-content;
  gap: 3px;
}
.day-block {
  border: solid gray 1px;
  background-color: rgb(227, 227, 227);
  width: 30px;
  height: 60px;
}
.transaction-small {
  font-size: 10px;
}
.balance {
  font-size: 12px;
  font-weight: bold;
}
[title="0"] {
  grid-column-start: 1;
}
[title="1"] {
  grid-column-start: 2;
}
[title="2"] {
  grid-column-start: 3;
}
[title="3"] {
  grid-column-start: 4;
}
[title="4"] {
  grid-column-start: 5;
}
[title="5"] {
  grid-column-start: 6;
}
[title="6"] {
  grid-column-start: 7;
}
